.not_found {
    min-height: 100vh;
}

.img_section{
    background-image: url("https://ik.imagekit.io/yz8iaxzer/another_image_iGmFqukcM?ik-sdk-version=javascript-1.4.3&updatedAt=1661284263712");
    background-attachment: fixed;
    background-repeat: no-repeat;
    clip-path: circle(79.7% at 21% 49%);
    box-shadow: 0px 4px 27px 6px rgba(0, 0, 0, 0.3);
}
