.gallery_body{
    background-image: url("https://ik.imagekit.io/yz8iaxzer/images/food_pattern_Ti4zYIn7h.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1658351061302");
    background-size: cover;
    background-position: center;
    /* width: 100vw; */
    min-height: 100vh; 
}

.img_text {
    background: rgba(0, 0, 0, 0.301);
    backdrop-filter: blur(8px);
    transition: opacity 0.7s;
    opacity: 0;
}

.img_text:hover{
    opacity: 1;
    border-radius: 1%;
    box-shadow: -1px 0px 30px -4px rgba(0,0,0,0.54);
    -webkit-box-shadow: -1px 0px 30px -4px rgba(0,0,0,0.54);
    -moz-box-shadow: -1px 0px 30px -4px rgba(0,0,0,0.54);
}

.img_text > *{
    transform: translateY(30px);
    transition: transform 0.8s;
}


.img_text:hover > *{
    transform: translateY(0);
}
