.link_bg {
    background: linear-gradient(145.63deg, rgba(196, 196, 196, 0.4) -87.29%, rgba(196, 196, 196, 0) 167.05%, rgba(196, 196, 196, 0.12803) 167.05%);
    backdrop-filter: blur(50px);
}

.recipe-info-body{
    background-image: url("https://ik.imagekit.io/yz8iaxzer/concrete-wall_1_dBE6FY3Od.svg?ik-sdk-version=javascript-1.4.3&updatedAt=1658779919645");
    min-height: 100vh;
}


.modal {
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Overlay effect: translucent background: black w/ partial opacity */
    z-index: 1; /* Overlay effect: positioned over other containers */
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    position: fixed; /* Fix position on the top-left corner*/
    top: 0;
    left: 0;
    overflow: auto; /* Enable scroll if needed */
    padding-top: 90px; /* Location of the content container */
}