.link_bg {
    background: linear-gradient(145.63deg, rgba(196, 196, 196, 0.4) -87.29%, rgba(196, 196, 196, 0) 167.05%, rgba(196, 196, 196, 0.12803) 167.05%);
    backdrop-filter: blur(50px);
}

.recipe-info-body{
    background-image: url("https://ik.imagekit.io/yz8iaxzer/concrete-wall_1_dBE6FY3Od.svg?ik-sdk-version=javascript-1.4.3&updatedAt=1658779919645");
    min-height: 100vh;
}