.landing_page_body {
    background-image: url("https://ik.imagekit.io/yz8iaxzer/Bg-image__2__gD4b3iSs3.svg?ik-sdk-version=javascript-1.4.3&updatedAt=1658257179988");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
}