.landing_page_body {
    background-image: url("https://ik.imagekit.io/yz8iaxzer/Frame_24__2__AX7LfLJtl.svg?ik-sdk-version=javascript-1.4.3&updatedAt=1658180990190");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
}