.landing_page_body {
    background-image: url("https://api.asm.skype.com/v1/objects/0-weu-d14-1e167c38aa57871f96fb6d66731051fb/views/imgpsh_fullsize_anim");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    /* width: 100vw;*/
    min-height: 100vh; 
}

.toTop{
    background: linear-gradient(145.63deg, rgba(196, 196, 196, 0.4) -87.29%, rgba(196, 196, 196, 0) 167.05%, rgba(196, 196, 196, 0.12803) 167.05%);
    backdrop-filter: blur(50px);
}