@import url('https://fonts.googleapis.com/css2?family=Imprima&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kreon&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');
@import url('./Constants/Colors.js');

.imprima-font{
  font-family: 'Imprima', sans-serif;
}

.kreon-font{
  font-family: 'Kreon', serif;
}

.abel-font{
  font-family: 'Abel', sans-serif;
}


::-webkit-scrollbar{
  width: 0.4rem;
  height: 0;
}

::-webkit-scrollbar-track{
  background: rgb(189, 189, 189);
}

::-webkit-scrollbar-thumb{
  background: rgb(51, 28, 28);
  border-radius: 50px;
}

