@import url('https://fonts.googleapis.com/css2?family=Imprima&display=swap');
@import url('https://fonts.googleapis.com/css2?famiy=Kreon&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');
@import url('./Constants/Colors.js');

.imprima-font{
  font-family: 'Imprima', sans-serif;
}

.kreon-font{
  font-family: 'Kreon', serif;
}

.abel-font{
  font-family: 'Abel', sans-serif;
}

.theme-color{
  /* color: COLORS.HAUTE_CUISINE_DEEP_COLOR;/ */
}

::-webkit-scrollbar{
  width: 0.4rem;
  height: 0;
}

::-webkit-scrollbar-track{
  background: rgb(128, 128, 128);
}

::-webkit-scrollbar-thumb{
  background: #000;
  border-radius: 50px;
}

