.card{
    background-image: url("https://ik.imagekit.io/yz8iaxzer/Group_24__plOsLVXM.svg?ik-sdk-version=javascript-1.4.3&updatedAt=1660163156358");
    background-size: cover;
    background-position: center;
}
